/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: source sans pro,sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* =====================================================
   Main CSS
  ===================================================== */


#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.center {
  text-align: center;
}
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
.container {
  width: 90%;
  margin: 0 auto;
}
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}
#nav a.router-link-exact-active {
  color: #2e3331;
}
.nav-link {
  color: rgb(168, 165, 165);
  font-size: 14px;
}
.nav-sign-in {
  margin: 0 20px;
}
.nav-bar {
  margin-right: 1rem;
}
a {
  color: #5cb85c;
  text-decoration: none;
}
.right {
  float: right!important;
}
.logo {
  color: #5cb85c;
  font-size: 1.4rem;
  font-weight: 800;
  margin-left: 1rem;
}
.header {
  background: #5cb85c;
  padding: 2rem 0;
  text-align: center;
  color: white;
}
.header h1 {
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
  margin-bottom: 1rem;
}
.header p {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 300;
}
.feed {
  display: flex;
}

/* ==============================================
  Color
  ================================================ */



/* ==============================================
  Article Card
  ================================================ */
.article-feed {
  width: 75%;
  padding: 0 15px;
}
.article-card {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  padding: 1.5rem 0;
}
.article-meta {
  margin-bottom: 1rem;
  font-weight: 300;
}
.article-meta img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}
.article-meta .info {
  margin: 0 1.5rem 0 .3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}
.article-meta .info .author {
  display: block;
  font-weight: 500!important;
}
.author:hover {
  text-decoration: underline;
  color: #449644;
}
.info .date,
.comment-footer .date {
  color: #bbb;
  font-size: .8rem;
  display: block;
}
.btn-outline-primary {
  color: #5cb85c;
  background-image: none;
  background-color: transparent;
  border: 1px solid #5cb85c;
}
.btn-outline-secondary {
  color: #bbb;
  background-color: transparent;
  border: 1px solid #bbb;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
}
.btn-sm {
  padding: .35rem .5rem;
  font-size: .7rem;
  border-radius: .2rem;
}
.btn-outline-primary:hover {
  background: #5cb85c;
  color: white;
}
.btn-outline-secondary:hover {
  background: #bbb;
  color: white;
}
.btn .counter {
  font-size: .7rem!important;
  margin-left: 3px;
}
.preview-link {
  color: inherit;
}
.preview-link ul {
  float: right;
  max-width: 50%;
  vertical-align: top;
}
ul.tag-list {
  padding-left: 0!important;
  display: flex;
  list-style: none!important;
}
.title {
  font-weight: 600!important;
  font-size: 1.5rem!important;
  margin: 3px 0;
}
.desc {
  font-weight: 300;
  font-size: 24px;
  color: #999;
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 1.3rem;
}
.preview-link span {
  max-width: 30%;
  font-size: .8rem;
  font-weight: 300;
  color: #bbb;
  vertical-align: middle;
}

/* =============================================
  Tag Feed
  ============================================== */
.tag-feed {
  float: right;
  width: 25%;
}
.tag-container {
  margin-left: 10px;
  display: inline-block;
  padding: 5px 10px 10px 10px;
  background: #f3f3f3;
  border-radius: 4px;
}
.tag-container p {
  margin-bottom: .7rem;
}
.tag {
  color: #c2c3c5;
  font-size: .8rem;
  padding: .3rem;
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: .3rem;
  display: inline-block;
  border-radius: 10rem;
  border: .5px solid #c2c3c5;
}
.tag-pill {
  padding-right: .6em;
  padding-left: .6em;
  background: #818a91;
  color: #fff!important;
  border: .5px solid #818a91;
}
/* =============================================
  Sign Up
  ============================================== */
.sign-up-container {
  width: 40%;
  margin: 0 auto;
}
.sub-header {
  font-size: 2.5rem;
  font-weight: 400;
}
.link-opt {
  display: inline-block;
  margin: 20px 0;
}
.input {
  width: 100%;
  box-sizing: border-box;
  padding: .75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: .3rem;
  color: #55595c;
  outline: none;
  border: .5px solid #d3cdcd;
  margin-bottom: .8rem;
}
.sign-btn {
  padding: .75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: .3rem;
  background: #5cb85c;
  outline: none;
  color: white;
  border: none;
}
.sign-btn:hover {
  background: #449644;
}

/* =============================================
  Profile
  ============================================== */
.profile-container {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.user-info {
  background: #f3f3f3;
  padding: 2rem 0;
}
.user-info p {
  color: #373a3c;
  font-weight: 900;
}
.user-img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 1rem;
}
.profile-container .action-btn {
  color: #999;
  border: 1px solid #999;
  border-radius: 4px;
  padding: .25rem .5rem;
  font-size: .85rem;
  background: transparent;
}
.profile-container .action-btn:hover {
  background: #dcdedf;
}

/* =============================================
  Article Details
  ============================================== */
.article-container {
  width: 80%;
  margin: 0 auto;
}
.article-header {
  background: #333;
  text-align: left;
}
.article-container h2 {
  font-size: 2.8rem;
  font-weight: 600;
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
  margin-bottom: 2rem;
}
.article-body {
  padding: 3rem 0 5rem 0;
  font-size: 1.2rem;
  border-bottom: .5px solid #bbb;
}
.article-container .article-action {
  text-align: center;
  margin: 1.5rem 0 3rem;
}
.comment-container {
  width: 60%;
  margin: 5rem auto 0 auto;
}
.comment-card {
  border-radius: .25rem;
  border: 1px solid #e5e5e5;
  margin-bottom: .75rem;
}
.comment-body textarea {
  box-sizing: border-box;
  outline: none;
  width: 100%;
  margin: 0;
  border: none;
  font-size: 1rem;
}
.comment-body {
  padding: 1.25rem;
}
.comment-footer {
  padding: 15px 20px;
  background: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}
.btn-primary {
  font-size: .875rem;
  font-weight: 800;
  color: white;
  background: #5cb85c;
  border: none;
}
.btn-primary:hover {
  background: #449644;
}
.comment-author-img {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  border-radius: 30px;
}
.comment-footer .date {
  display: inline;
}